<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name="description" content="Maquereau">
		<meta name="author" content="Binary Brain, Protectator">
		<title>Maquereau</title>
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link rel="stylesheet/less" type="text/css" href="index.less" />
	</head>
	<body>
		<script src="script/lib/promise.min.js" defer></script>
		<script src="script/lib/fetch.js" defer></script>
		<script src="script/lib/less.js" defer></script>
		<script src="script/lib/vue.js" defer></script>

		<script src="script/main.js" defer></script>

		<div id="container">
			<h1>Maquereau &middot; <span class="capitalize">{{ currentProcess }}</span></h1>
			<div class="tiles">
				<div class="tile"
					v-for="tile in tiles"
					v-bind:style="[{ backgroundImage: 'url(\'/img/icons/' + tile.icon.static + '\')' }, tile.style]"
					v-bind:data-keystroke="tile.action.sendKeyStroke"
					v-on:click="onTileClicked(tile.action, $event)">
					<h3 class="title">{{ tile.title.static }}</h3>
					<p class="subtitle">{{ tile.subtitle.static }}</p>
				</div>
			</div>
		</div>
	</body>
</html>
